@media (max-width: 768px) {
  .table th,
  .table td {
    font-size: 14px;
    padding: 8px;
  }

  .form-label {
    font-weight: 500;
    margin-bottom: 5px;
  }

  h2 {
    font-size: 24px;
    text-align: center;
  }
}


.status-default {
  background-color: #fff;
}

.status-coming {
  background-color: #fff3cd; /* Yellow */
}

.status-due {
  background-color: #f8d7da; /* Red */
}

.status-done {
  background-color: #d4edda; /* Green */
}
.status-its-time {
  background-color: #cce5ff; /* Blue */
}

